
.DS_Store
*.png
01course/happy-or-sad.zip
01course/horse-or-human.zip
01course/tmp/images/01.jpeg
01course/validation-horse-or-human.zip
02course/.ipynb_checkpoints/C2_W1_Lab_1_cats_vs_dogs-checkpoint.ipynb
02course/cats_and_dogs_filtered.zip
*.jpg
02course/cats_and_dogs_filtered/vectorize.py
*.jpeg
01course/.ipynb_checkpoints/C1_W1_Lab_1_hello_world_nn-checkpoint.ipynb
02course/.ipynb_checkpoints/C2_W2_Lab_1_cats_v_dogs_augmentation-checkpoint.ipynb
02course/.ipynb_checkpoints/C2_W2_Lab_2_horses_v_humans_augmentation-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/cats_and_dogs_filtered.zip.1
02course/horse-or-human.zip
02course/tmp/cats_and_dogs_filtered/vectorize.py
02course/validation-horse-or-human.zip
02course/.ipynb_checkpoints/C2W2_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2_W3_Lab_1_transfer_learning-checkpoint.ipynb
02course/.ipynb_checkpoints/C2_W4_Lab_1_multi_class_classifier-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W3_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W4_Assignment-checkpoint.ipynb
02course/sign_mnist_train.csv
02course/sign_mnist_test.csv
02course/rps.zip
02course/rps-test-set.zip
02course/cats_and_dogs_filtered.zip.2
