
.DS_Store
*.png
01course/happy-or-sad.zip
01course/horse-or-human.zip
01course/tmp/images/01.jpeg
01course/validation-horse-or-human.zip
02course/.ipynb_checkpoints/C2_W1_Lab_1_cats_vs_dogs-checkpoint.ipynb
02course/cats_and_dogs_filtered.zip
*.jpg
02course/cats_and_dogs_filtered/vectorize.py
*.jpeg
01course/.ipynb_checkpoints/C1_W1_Lab_1_hello_world_nn-checkpoint.ipynb
02course/.ipynb_checkpoints/C2_W2_Lab_1_cats_v_dogs_augmentation-checkpoint.ipynb
02course/.ipynb_checkpoints/C2_W2_Lab_2_horses_v_humans_augmentation-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/cats_and_dogs_filtered.zip.1
02course/horse-or-human.zip
02course/tmp/cats_and_dogs_filtered/vectorize.py
02course/validation-horse-or-human.zip
02course/.ipynb_checkpoints/C2W2_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W1_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2_W3_Lab_1_transfer_learning-checkpoint.ipynb
02course/.ipynb_checkpoints/C2_W4_Lab_1_multi_class_classifier-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W3_Assignment-checkpoint.ipynb
02course/.ipynb_checkpoints/C2W4_Assignment-checkpoint.ipynb
02course/sign_mnist_train.csv
02course/sign_mnist_test.csv
02course/rps.zip
02course/rps-test-set.zip
02course/cats_and_dogs_filtered.zip.2
03course/.ipynb_checkpoints/C3_W1_Lab_1_tokenize_basic-checkpoint.ipynb
03course/.ipynb_checkpoints/C3_W1_Lab_2_sequences_basic-checkpoint.ipynb
03course/.ipynb_checkpoints/C3_W1_Lab_3_sarcasm-checkpoint.ipynb
03course/.ipynb_checkpoints/C3_W2_Lab_3_imdb_subwords-checkpoint.ipynb
03course/.ipynb_checkpoints/C3W1_Assignment-checkpoint.ipynb
03course/.ipynb_checkpoints/sarcasm-checkpoint.json
03course/~/tensorflow_datasets/imdb_reviews/subwords8k/1.0.0/text.text.subwords
03course/~/tensorflow_datasets/imdb_reviews/subwords8k/1.0.0/label.labels.txt
03course/~/tensorflow_datasets/imdb_reviews/subwords8k/1.0.0/imdb_reviews-unsupervised.tfrecord-00000-of-00001
03course/~/tensorflow_datasets/imdb_reviews/subwords8k/1.0.0/imdb_reviews-train.tfrecord-00000-of-00001
03course/~/tensorflow_datasets/imdb_reviews/subwords8k/1.0.0/imdb_reviews-test.tfrecord-00000-of-00001
03course/~/tensorflow_datasets/imdb_reviews/subwords8k/1.0.0/features.json
03course/~/tensorflow_datasets/imdb_reviews/subwords8k/1.0.0/dataset_info.json
03course/~/tensorflow_datasets/imdb_reviews/plain_text/1.0.0/label.labels.txt
03course/~/tensorflow_datasets/imdb_reviews/plain_text/1.0.0/imdb_reviews-unsupervised.tfrecord-00000-of-00001
03course/~/tensorflow_datasets/imdb_reviews/plain_text/1.0.0/imdb_reviews-train.tfrecord-00000-of-00001
03course/~/tensorflow_datasets/imdb_reviews/plain_text/1.0.0/imdb_reviews-test.tfrecord-00000-of-00001
03course/~/tensorflow_datasets/imdb_reviews/plain_text/1.0.0/features.json
03course/~/tensorflow_datasets/imdb_reviews/plain_text/1.0.0/dataset_info.json
03course/~/tensorflow_datasets/imdb_reviews/.config/metadata.json
03course/vecs.tsv
03course/Untitled.ipynb
03course/test.py
03course/sarcasm.json.4
03course/sarcasm.json.3
03course/sarcasm.json.2
03course/sarcasm.json.1
03course/sarcasm.json
03course/misc/Laurences_generated_poetry.txt
03course/meta.tsv
03course/history.pkl
03course/glove.twitter.27B.25d.txt
03course/data/training_cleaned.csv
03course/data/glove.zip
03course/data/glove.6B.100d.txt
03course/bbc-text.csv
03course/C3_W3_Lab_1_single_layer_LSTM-Copy1.ipynb
03course/sonnets.txt
03course/irish-lyrics-eof.txt
04course/Sunspots.csv
04course/.ipynb_checkpoints/C4_W1_Assignment-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W1_Lab_1_time_series-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W1_Lab_2_forecasting-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W2_Lab_1_features_and_labels-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W2_Lab_2_single_layer_NN-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W2_Lab_3_deep_NN-checkpoint.ipynb
04course/.ipynb_checkpoints/C4W2_Assignment-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W4_Lab_3_Sunspots_CNN_RNN_DNN-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W4_Lab_2_Sunspots_DNN-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W4_Lab_1_LSTM-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W4_Assignment_old_version-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W4_Assignment-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W3_Lab_2_LSTM-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W3_Lab_1_RNN-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W3_Assignment-checkpoint.ipynb
04course/.ipynb_checkpoints/C4_W2_Assignment-checkpoint.ipynb
04course/Sunspots.csv.2
04course/Sunspots.csv.1
04course/saved_model/my_model/variables/variables.index
04course/saved_model/my_model/variables/variables.data-00000-of-00001
04course/saved_model/my_model/saved_model.pb
04course/saved_model/my_model/keras_metadata.pb
04course/saved_model.tar.gz
04course/my_model.h5
04course/data/daily-min-temperatures.csv
04course/daily-min-temperatures.csv.1
04course/daily-min-temperatures.csv
